header {
    background-color: rgb(203, 226, 156);
    text-align: center;
    font-size: 28px;
    font-weight: bolder;
     /* background-size: absolute; */
}
.cart_btn {
    float: right;
    padding: 14px;
    margin-right: 20px;
    background-image: url(cart.jpg);
    background-size: cover;
    background-position: center;
}
.btn_item {
    padding: 100px;
    margin: 45px;
    background-color: aquamarine;
}
.btn_item1 {
    padding: 100px;
    margin: 45px;
    background-color: aquamarine;
    background-image: url(women1.jpg);
    background-size: contain;
}

.btn_item2 {
    padding: 100px;
    margin: 45px;
    background-color: aquamarine;
    background-image: url(women2.jpg);
    background-size: contain;
}

.btn_item3 {
    padding: 100px;
    margin: 45px;
    background-color: aquamarine;
    background-image: url(women3.jpg);
    background-size: contain;
}

.btn_item4 {
    padding: 100px;
    margin: 45px;
    background-color: aquamarine;
    background-image: url(women4.png);
    background-size: contain;
}

.btn_item5 {
    padding: 100px;
    margin: 45px;
    background-color: aquamarine;
    background-image: url(women5.avif);
    background-size: contain;
}

.btn_item6 {
    padding: 100px;
    margin: 45px;
    background-color: aquamarine;
    background-image: url(women6.jpg);
    background-size: contain;
}

.btn_item7 {
    padding: 100px;
    margin: 45px;
    background-color: aquamarine;
    background-image: url(women7.avif);
    background-size: contain;
}

.btn_item8 {
    padding: 100px;
    margin: 45px;
    background-color: aquamarine;
    background-image: url(women8.jpg);
    background-size: contain;
}

.btn_item9 {
    padding: 100px;
    margin: 45px;
    background-color: aquamarine;
    background-image: url(women9.jpg);
    background-size: contain;
}

.btn_item10 {
    padding: 100px;
    margin: 45px;
    background-color: aquamarine;
    background-image: url(women10.jpg);
    background-size: contain;
}